@media (max-width: 768px) {
body {
    
   background: radial-gradient(circle, #1f0e4f, #070013);
   /* background-image:url(rm218-bb-07.jpg) ;
    background-size: 100vw;*/
    /*background-repeat: no-repeat;*/
    
}

 #profile1{
    width: 200px;
    height: 300px;
    background-image: url(IMG-20250620-WA0079.jpg);
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    top: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    border:3px solid #30336b ;
}
   #intro{ height:100px;
    width: 150px;
    font-size: 10px;
     background-color: rgb(70, 70, 69);
    border: solid rgb(4, 2, 2);
    border-radius: 10px;
    position: absolute;
    top:50px;
    left: 60%;
    z-index: 1;
    color:body white;
  
}
#audio-player{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    background-image:url(1000233112-01.jpeg);
    background-size: cover;
    border-radius:50% ;
    border: 2px solid #9980FA;

}
audio{
     width: 150px;
    height: 100px;
   /*display: none;*/
    position: fixed;
    top: 20px;
    left: 0px;
}

button{
    position: absolute;
    top: 250px;
    left: 65%;
    background-color: rgb(55, 8, 99);
    border-radius: 10px;
    padding: 10px;
    border: solid rgb(101, 41, 240);
    font-size: 20px;
}
#a{
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(200, 197, 197);
}
#name{
    color: #ffffff;
    position: absolute;
    top: 350px;
    left: 60%;
    font-size: 50px;

}
#nav{
   
   width: 350px;
    gap: 30px;
    background:#c7ecee;
    text-transform: capitalize;
    height: 60px;
    border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    top: 415px;
    left: 45px;
  
    

}
a{
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(60, 3, 100);
    margin-right: 20px;
}

#fotter{
    width: 80vw;
    height: 40px;
    background-color: #000000;
    border: solid #30336b;
    border-radius: 10px;
    padding: 10px;
    color: #ffffff;
    position: absolute;
    top:500px;
    left: 45px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
    
    
}
#Contact{
    width: 80vw;
    height: 40px;
    background-color: #230b61;
    border: 5px solid #aa7afc;
    border-radius: 10px;
    padding: 5px;
    
    position: fixed;
    bottom: 100px;
    left: 45px;
    z-index: 5;
    font-size: 20px;
    color: white;
   
}
#b{
    color: #ffffff;
    margin-left: 5px;
    
   
   
}

#me{
    height: 60px;
    width: 80vw;
    background-color: #230b61;
    position: absolute;
    top: 600px;
    border: solid black;
    border-radius: 10px;
    left: 40px;
    color: beige;
    text-align: center;
    padding: 10px;

}

#about{
    display: inline-block;
    width: 90vw;
    height: 1100px;
    /* background-color: #ffffff;*/
    position: absolute;
    top: 750px;
    left: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
  
    
}
#profile2{
  
    width: 400px;
    height: 500px;
    background-image:url(profile2.jpg) ;
    background-size: cover;
    border-radius: 10px;
    min-width: 300px;
    margin-bottom: 20px;
   
}
#about-w{
   
     height: 500px;
    width: 400px;
     min-width: 250px;
    background-color:#8552bc;
    padding: 10px;
    border-radius: 10px;
    border: solid black;
    font-size: large;
    margin-bottom: 20px;
   
}
#edu-h{
    height: 100px;
    width: 80vw;
    background-color: #230b61;
    position: absolute;
    top: 1810px;
    border: solid black;
    border-radius: 10px;
    left: 45px;
    color: beige;
    text-align: center;
    padding: 10px;


}
#edu{
    display: flex;
    flex-wrap: wrap;
    height: 1000px;
    width: 90vw;
   /*background-color: #ffffff;*/
    position: absolute;
    top: 1950px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}

#scl{
    height: 200px;
    width: 450px;
    background-image: url(Bidda-Niketon-School-Pic.jpg);
    background-size: cover;
   
    border: solid #1f0e4f;
    border-radius: 10px;
}
#scl-w{
    width: 500px;
    height: 450px;
    background-color: #2424a8;
    padding: 10px;
    border: 1px solid black;
    color: antiquewhite;
    border-radius: 10px;
}
  
#nc{
      display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 90vw;
   
    position: absolute;
    top: 3000px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
#nc-img{
    width: 450px;
    height: 200px;
background-color: #2424a8;
background-image:url(narayanganjcollege.jpg) ;
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;

}
#nc-w{
    height: 350px;
    width: 400px;
    background-color: rgb(62, 62, 115);
    padding: 10px;
    border: 2px solid #30336b;
    border-radius: 10px;
    font-size: larger;
}
#hobi{
      display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 90vw;
   
    position: absolute;
    top: 4000px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
#hobi-img{
   width: 450px;
    height: 500px;
background-color: #2424a8;
background-image:url(fulpakhi.jpg) ;
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;
}
#hobi-w{
    height: 350px;
    width: 400px;
    background-color:#9980FA;
    padding: 10px;
    border: 2px solid #30336b;
    border-radius: 10px;
    font-size: larger;
    margin-bottom: 20px;
}
#rc{
      display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 90vw;
   
    position: absolute;
    top: 5100px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
#rc-img{
   width: 450px;
    height: 500px;
background-color: #2424a8;
background-image:url(IMG-20250620-WA0095.jpg) ;
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;
}
#rc-img2{
    width: 450px;
    height: 400px;
background-color: #2424a8;
background-image:url(rcback.jpg);
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;
}
#rc-w{
     height: 550px;
    width: 600px;
    background-color:#7b6ffe;
    padding: 10px;
    border: 2px solid #30336b;
    border-radius: 10px;
    font-size: larger;
}

 #blog-h{ height: 60px;
    width: 80vw;
    background-color:#230b61;
    position: absolute;
    top: 6670px;
    border: solid black;
    border-radius: 10px;
    left: 45px;
    color: beige;
    text-align: center;
    padding: 10px;
 }
 #blog1{
     display: flex;
    flex-wrap: wrap;
    height: 1100px;
    width: 90vw;
 
    position: absolute;
    top: 6800px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
 }
#blog1-i{
   width: 450px;
    height: 500px;

background-image:url(arponback.jpg);
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;
}
#blog1-w{
     height: 490px;
    width: 400px;
    background-color:#271d9c;
    padding: 10px;
    border: 2px solid #30336b;
    border-radius: 10px;
    font-size: larger;
}
 #blog2{
     display: flex;
    flex-wrap: wrap;
    height: 800px;
    width: 90vw;
/* background-color: #ffffff;*/
    position: absolute;
    top: 7800px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
 }
#blog2-i{
   width: 450px;
    height: 200px;
background-color: #2424a8;
background-image:url(showpic.jpg);
background-size: cover;
border:2px solid #000000;
border-radius: 10px;
margin-bottom: 20px;
}

#blog2-w{
     height: 400px;
    width: 300px;
    background-color:#4a48c0;
    padding: 10px;
    border: 2px solid #3e4180;
    border-radius: 10px;
    font-size: larger;
}

#blog3{
     display: flex;
    flex-wrap: wrap;
    height: 2500px;
    width: 90vw;
  /*  background-color: #ffffff;*/
    position: absolute;
    top: 8600px;
    left:45px ;
    text-align: center;
    justify-content: space-around;
    align-items: center;
 }
#blog3-i{
    width: 500px;
    height: 1000px;
   /* background-color: #ffffff;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    
}
#one{
    width: 250px;
    height: 200px;
    background-image: url(one.jpg);
    background-size: cover;
    border:2px solid #4a48c0;
    border-radius: 10px;
    
}

#two{
    width: 250px;
    height: 250px;
    background-image: url(two.jpg);
    background-size: cover;
    border-radius: 50%;
    border:2px solid #4a48c0;
    
}
#four{
    width: 250px;
    height: 250px;
    background-image: url(four.jpg);
    background-size: cover;
    border-radius: 50%;
    border:2px solid #4a48c0;
}
#three{
    width: 180px;
    height: 200px;
    background-image: url(three.jpg);
    background-size: cover;
    border:2px solid #4a48c0;
    border-radius: 10px;
}

#five{
    width: 250px;
    height: 200px;
    background-image: url(five.jpg);
    background-size: cover;
    border:2px solid #4a48c0;
    border-radius: 10px;
}
#blog3-w{
    width: 550px;
    height: 600px;
    background-color: #8552bc;
    border: 2px solid #2424a8;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;

}











}
